@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@400;500;600;700&display=swap");
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.2s;
}

* {
  font-family: "IBM Plex Sans Arabic", sans-serif;
}

html {
  direction: rtl;
}

body::-webkit-scrollbar {
  display: none;
}

:root {
  --color-red-500: #fb2c36;
  --color-orange-50: #fff7ea;
  --color-orange-100: #ffedd4;
  --color-orange-700: #d93700;
  --color-green-50: #f0fdf4;
  --color-green-500: #00c950;
  --color-green-700: #008235;
  --color-emerald-100: #d0fae5;
  --color-blue-50: #eff6ff;
  --color-blue-100: #dbeafe;
  --color-blue-500: #297eff;
  --color-blue-700: #1447e6;
  --color-indigo-500: #615fff;
  --color-indigo-600: #4f39f6;
  --color-purple-50: #faf5ff;
  --color-purple-700: #7e22ce;
  --color-gray-50: #f9fafb;
  --color-gray-100: #f3f4f6;
  --color-gray-600: #4a5565;
  --color-gray-700: #364153;
  --color-gray-900: #101828;
  --color-white: #fff;
}

img {
  -o-object-fit: cover;
  object-fit: cover;
  display: block;
  max-width: 100%;
  width: 6.25rem;
}

span,
button {
  display: inline-block;
}

.name-global {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
.name-global .top-icon {
  height: 3.5rem;
  width: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  color: var(--color-white);
  border-radius: 0.9375rem;
  background-image: linear-gradient(to bottom right, var(--color-blue-700), var(--color-indigo-600));
  box-shadow: 0rem 0.1875rem 0.625rem #d2e2fd;
}
.name-global .top-content h1 {
  font-size: 2.25rem;
  font-weight: 700;
  color: var(--color-gray-900);
  line-height: 2.5rem;
}
.name-global .top-content span {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--color-gray-600);
}

.content-global {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #101828;
  margin-bottom: 1.25rem;
}
.content-global h4 {
  font-size: 1.125rem;
  font-weight: 600;
}
.content-global span {
  font-size: 0.875rem;
  font-weight: 500;
}

/* Start Main */
main {
  display: flex;
  background-color: var(--color-gray-50);
}
main > .left {
  flex-grow: 1;
  padding-block: 3.125rem;
}
main > .left #main-section {
  display: grid;
  width: 96%;
  margin-inline: auto;
  grid-template-columns: repeat(3, calc((100% - 2.5rem) / 3));
  -ms-grid-rows: auto 0.625rem auto 0.625rem auto 0.625rem auto 0.625rem auto 0.625rem auto;
  grid-template-areas: "header header header" "cards cards cards" "active table-content table-content" "pill table-content table-content" "Budget-Overview Income Payment-Methods" "Budget-Overview Account-Summary Payment-Methods";
  gap: 1.25rem;
}
main > .left #main-section > section:not(#cards), main > .left #main-section > header, main > .left #main-section > #cards > .card {
  border: 0.1875rem solid rgba(0, 0, 0, 0.067);
  border-radius: 0.9375rem;
  padding: 1.5625rem;
  background-color: #ffffff;
}
main > .left #main-section #header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fbfdfe;
}
main > .left #main-section #header .name-global > span {
  position: relative;
  background-color: var(--color-emerald-100);
  padding: 0.3125rem 1.5625rem 0.3125rem 0.9375rem;
  font-size: 0.875rem;
  font-weight: 500;
  color: var(--color-green-700);
  border-radius: 0.3125rem;
  border: 0.0625rem solid #dffcea;
}
main > .left #main-section #header .name-global > span::after {
  content: "";
  position: absolute;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: var(--color-green-500);
  inset: 50% 0.625rem auto auto;
  transform: translateY(-50%);
}
main > .left #main-section #header .left {
  display: flex;
  align-items: center;
  gap: 0.875rem;
}
main > .left #main-section #header .left .icons {
  display: flex;
  gap: 0.625rem;
}
main > .left #main-section #header .left .icons .icon {
  font-size: 0.875rem;
  height: 2.25rem;
  width: 2.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
  background-color: #f9fafb;
  position: relative;
  border: 0.0625rem solid #f1f3f5;
  color: #545e6e;
}
main > .left #main-section #header .left .icons .icon span {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(30%, -30%);
  font-size: 0.625rem;
  font-weight: 700;
  color: var(--color-white);
  background-color: var(--color-red-500);
  height: 1rem;
  width: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
main > .left #main-section #header .left .card-header {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  background-color: var(--color-white);
  padding: 0.5rem 0.9375rem;
  border-radius: 0.625rem;
  box-shadow: 0rem 0rem 0.3125rem rgba(0, 0, 0, 0.1);
}
main > .left #main-section #header .left .card-header p span {
  display: block;
  font-weight: 600;
}
main > .left #main-section #header .left .card-header p span:first-child {
  font-size: 0.875rem;
  color: #101828;
}
main > .left #main-section #header .left .card-header p span:last-child {
  font-size: 0.75rem;
  color: #6a7282;
}
main > .left #main-section #header .left .card-header .img {
  width: 2.5rem;
}
main > .left #main-section #header .left .card-header .img img {
  border-radius: 0.625rem;
}
main > .left #main-section #header > span {
  display: none;
  position: relative;
  background-color: var(--color-emerald-100);
  padding: 0.25rem 0;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--color-green-700);
  border-radius: 0.3125rem;
  border: 0.0625rem solid #dffcea;
}
main > .left #main-section #header > span::after {
  content: "";
  position: absolute;
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 50%;
  background-color: var(--color-green-500);
  inset: 50% 43% auto auto;
  transform: translateY(-50%);
}
main > .left #main-section #cards {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 5;
  grid-area: cards;
  display: flex;
  align-items: center;
  gap: 1.5625rem;
  padding: 1.5625rem 0;
}
main > .left #main-section #cards .card {
  width: calc((100% - 3.125rem) / 3);
}
main > .left #main-section #cards .card p {
  font-size: 0.875rem;
  color: #6a7282;
  font-weight: 600;
}
main > .left #main-section #cards .card h2 {
  font-size: 2.25rem;
  font-weight: 700;
  color: #101828;
}
main > .left #main-section #cards .card span {
  font-size: 0.875rem;
  font-weight: 600;
}
main > .left #main-section #cards .card:not(:last-child) span {
  color: #3aba69;
}
main > .left #main-section #cards .card:last-child span {
  color: #e8000b;
}
main > .left #main-section #table-content {
  -ms-grid-row: 5;
  -ms-grid-row-span: 3;
  -ms-grid-column: 3;
  -ms-grid-column-span: 3;
  grid-area: table-content;
}
main > .left #main-section #table-content table {
  width: 100%;
  border-collapse: collapse;
}
main > .left #main-section #table-content table thead {
  text-align: right;
  font-size: 0.875rem;
  color: #364153;
  font-weight: 600;
}
main > .left #main-section #table-content table thead tr th {
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.422);
  padding-bottom: 0.625rem;
}
main > .left #main-section #table-content table tbody tr td {
  padding-block: 1.25rem;
}
main > .left #main-section #table-content table tbody tr td:first-child {
  display: flex;
  align-items: center;
  gap: 0.625rem;
}
main > .left #main-section #table-content table tbody tr td:first-child .img {
  height: 2.375rem;
  width: 2.375rem;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
main > .left #main-section #table-content table tbody tr td:first-child .img i {
  font-size: 0.8125rem;
}
main > .left #main-section #table-content table tbody tr td:first-child .content-user p {
  font-size: 0.875rem;
  font-weight: 500;
  color: #101828;
  line-height: 0.625rem;
}
main > .left #main-section #table-content table tbody tr td:first-child .content-user span {
  font-size: 0.75rem;
  font-weight: 600;
  color: #6a7282;
}
main > .left #main-section #table-content table tbody tr td:nth-child(2) span {
  font-size: 0.75rem;
  font-weight: 500;
  background-color: #dbfce7;
  color: #016633;
  padding: 0rem 0.5rem;
  border-radius: 62499.9375rem;
}
main > .left #main-section #table-content table tbody tr td:nth-child(2) span i {
  font-size: 0.6875rem;
}
main > .left #main-section #table-content table tbody tr td:nth-child(3) span {
  font-size: 0.875rem;
  font-weight: 600;
  color: #4a5565;
}
main > .left #main-section #table-content table tbody tr td:nth-child(4) span {
  font-size: 0.75rem;
  font-weight: 500;
  background-color: #dbfce7;
  color: #016633;
  padding: 0rem 0.5rem;
  border-radius: 62499.9375rem;
}
main > .left #main-section #table-content table tbody tr td:nth-child(5) span {
  color: #101828;
  font-size: 0.875rem;
  font-weight: 600;
}
main > .left #main-section #table-content table tbody tr:first-child td:nth-child(5) span {
  color: #00a63e;
}
main > .left #main-section #table-content table tbody tr:nth-child(2) td:first-child .img {
  background-color: #ffedd4;
}
main > .left #main-section #table-content table tbody tr:nth-child(2) td:first-child .img i {
  color: #f54900;
}
main > .left #main-section #table-content table tbody tr:nth-child(2) td:nth-child(2) span {
  background-color: #ffedd4;
  color: #9f2d00;
}
main > .left #main-section #table-content table tbody tr:nth-child(3) td:first-child .img {
  background-color: #dbeafe;
}
main > .left #main-section #table-content table tbody tr:nth-child(3) td:first-child .img i {
  color: #155dfc;
}
main > .left #main-section #table-content table tbody tr:nth-child(3) td:nth-child(2) span {
  background-color: #dbeafe;
  color: #193cb8;
}
main > .left #main-section #table-content table tbody tr:nth-child(4) td:nth-child(2) span {
  background-color: #f3e8ff;
  color: #8d47bf;
}
main > .left #main-section #table-content table tbody tr:nth-child(5) td:last-child span {
  color: #00a63e;
}
main > .left #main-section #table-content table tbody tr:nth-child(6) td:first-child .img {
  background-color: #ffe2e2;
}
main > .left #main-section #table-content table tbody tr:nth-child(6) td:first-child .img i {
  color: #e7000b;
}
main > .left #main-section #table-content table tbody tr:nth-child(6) td:nth-child(2) span {
  background-color: #ffe2e2;
  color: #b12f38;
}
main > .left #main-section #table-content table tbody tr:nth-child(6) td:nth-child(4) span {
  background-color: #fef9c2;
  color: #a96c15;
}
main > .left #main-section #table-content table tbody tr:nth-child(7) td:first-child .img {
  background-color: #e0e7ff;
}
main > .left #main-section #table-content table tbody tr:nth-child(7) td:first-child .img i {
  color: #513cf6;
}
main > .left #main-section #table-content table tbody tr:nth-child(7) td:nth-child(2) span {
  background-color: #e0e7ff;
  color: #665ec3;
}
main > .left #main-section #table-content table tbody tr:nth-child(8) td:first-child .img {
  background-color: #cefafe;
}
main > .left #main-section #table-content table tbody tr:nth-child(8) td:first-child .img i {
  color: #0092b8;
}
main > .left #main-section #table-content table tbody tr:nth-child(8) td:nth-child(2) span {
  background-color: #cefafe;
  color: #005f78;
}
main > .left #main-section #table-content table tbody tr:nth-child(9) td {
  padding-bottom: 0;
}
main > .left #main-section #table-content table tbody tr:nth-child(9) td:first-child .img {
  background-color: #d0fae5;
}
main > .left #main-section #table-content table tbody tr:nth-child(9) td:first-child .img i {
  color: #029a67;
}
main > .left #main-section #table-content table tbody tr:nth-child(9) td:nth-child(2) span {
  background-color: #d0fae5;
  color: #006045;
}
main > .left #main-section #active {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: active;
}
main > .left #main-section #active .cards {
  display: flex;
  flex-direction: column;
  gap: 0.8125rem;
  padding-bottom: 0.9375rem;
  border-bottom: 0.0625rem solid rgba(0, 0, 0, 0.064);
}
main > .left #main-section #active .cards .card:first-child {
  background-color: #eff6ff;
  border-color: #2b7fff;
}
main > .left #main-section #active .cards .card:first-child .top-card .right .icon-right {
  color: #155dfc;
  background-color: #dbeafe;
}
main > .left #main-section #active .cards .card:first-child .top-card .left span {
  color: #155dfc;
}
main > .left #main-section #active .cards .card:last-child {
  background-color: #f0fdf4;
  border-color: #00c950;
}
main > .left #main-section #active .cards .card:last-child .top-card .right .icon-right {
  color: #23b459;
  background-color: #dbfce7;
}
main > .left #main-section #active .cards .card:last-child .top-card .left span {
  color: #00a63e;
}
main > .left #main-section #active .cards .card {
  border-left: 0.3125rem solid;
  padding: 0.8125rem 0.625rem;
  border-radius: 0.5rem;
}
main > .left #main-section #active .cards .card .top-card {
  display: flex;
  justify-content: space-between;
}
main > .left #main-section #active .cards .card .top-card .right {
  display: flex;
  gap: 0.625rem;
}
main > .left #main-section #active .cards .card .top-card .right .icon-right {
  height: 1.875rem;
  width: 1.875rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
main > .left #main-section #active .cards .card .top-card .right .content-left p {
  color: #101828;
  font-weight: 700;
  font-size: 0.875rem;
}
main > .left #main-section #active .cards .card .top-card .right .content-left span {
  font-size: 0.75rem;
  font-weight: 600;
  color: #4a5565;
  display: block;
}
main > .left #main-section #active .cards .card .top-card .right .content-left span:nth-child(2) {
  margin-bottom: 0.625rem;
}
main > .left #main-section #active .cards .card .top-card .right .content-left span:last-child {
  color: #6a7282;
}
main > .left #main-section #active .cards .card .top-card .left span {
  font-size: 0.75rem;
  font-weight: 500;
}
main > .left #main-section #active > span {
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 0.875rem;
  color: #1447e6;
  padding-top: 0.9375rem;
  cursor: pointer;
}
main > .left #main-section #pill {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: pill;
}
main > .left #main-section #pill .pill-content {
  text-align: center;
}
main > .left #main-section #pill .pill-content h3 {
  font-weight: 700;
  font-size: 1.875rem;
  color: #101828;
  line-height: 2.25rem;
}
main > .left #main-section #pill .pill-content span {
  font-size: 0.875rem;
  font-weight: 600;
  color: #6a7282;
}
main > .left #main-section #pill .boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  margin-top: 1.25rem;
}
main > .left #main-section #pill .boxes .box {
  width: calc((100% - 0.625rem) / 2);
  text-align: center;
  background-color: #f9fafb;
  border-radius: 0.625rem;
  padding: 1.25rem;
}
main > .left #main-section #pill .boxes .box .icon {
  font-size: 0.9375rem;
  height: 2.0625rem;
  width: 2.0625rem;
  margin-inline: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3125rem;
}
main > .left #main-section #pill .boxes .box p,
main > .left #main-section #pill .boxes .box h4,
main > .left #main-section #pill .boxes .box span {
  font-weight: 600;
  font-size: 0.75rem;
}
main > .left #main-section #pill .boxes .box p {
  color: #6a7282;
  margin-top: 0.5rem;
}
main > .left #main-section #pill .boxes .box h4 {
  font-size: 1rem;
  color: #101828;
}
main > .left #main-section #pill .boxes .box:first-child .icon {
  background-color: #dbeafe;
  color: #3675fc;
}
main > .left #main-section #pill .boxes .box:first-child span {
  color: #fb2c36;
}
main > .left #main-section #pill .boxes .box:nth-child(2) .icon {
  background-color: #fef9c2;
  color: #d08700;
}
main > .left #main-section #pill .boxes .box:nth-child(2) span {
  color: #f97200;
}
main > .left #main-section #pill .boxes .box:nth-child(3) .icon {
  background-color: #dbfce7;
  color: #00a63e;
}
main > .left #main-section #pill .boxes .box:nth-child(3) span {
  color: #00c950;
}
main > .left #main-section #pill .boxes .box:last-child .icon {
  background-color: #ffe2e2;
  color: #eb252e;
}
main > .left #main-section #pill .boxes .box:last-child span {
  color: #6a7282;
}
main > .left #main-section #Budget-Overview {
  -ms-grid-row: 9;
  -ms-grid-row-span: 3;
  -ms-grid-column: 1;
  grid-area: Budget-Overview;
}
main > .left #main-section #Budget-Overview .box {
  background-color: #eff4ff;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  padding: 0.9375rem;
  border-radius: 0.625rem;
  border: 0.0625rem solid rgba(96, 141, 240, 0.4862745098);
}
main > .left #main-section #Budget-Overview .box .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main > .left #main-section #Budget-Overview .box .top .right span {
  font-size: 0.875rem;
  font-weight: 500;
  color: #155dfc;
}
main > .left #main-section #Budget-Overview .box .top .right h5 {
  font-size: 1.5rem;
  font-weight: 700;
  color: #1c398e;
}
main > .left #main-section #Budget-Overview .box .top .left span {
  font-size: 0.875rem;
  font-weight: 600;
  color: #6a7282;
}
main > .left #main-section #Budget-Overview .box .top .left h5 {
  font-size: 1.125rem;
  font-weight: 600;
  color: #00a63e;
}
main > .left #main-section #Budget-Overview .box .bottom .spans {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.3125rem;
}
main > .left #main-section #Budget-Overview .box .bottom .spans span {
  font-size: 0.75rem;
  font-weight: 600;
  color: #4a5565;
}
main > .left #main-section #Budget-Overview .box .bottom div:last-child {
  background-color: #e5e7eb;
  height: 0.5625rem;
  position: relative;
  border-radius: 62.4375rem;
}
main > .left #main-section #Budget-Overview .box .bottom div:last-child::after {
  content: "";
  position: absolute;
  inset: 0 0 0 auto;
  width: 82.5%;
  background-image: linear-gradient(to right, var(--color-blue-500), var(--color-indigo-500));
  border-radius: 62.4375rem;
}
main > .left #main-section #Budget-Overview .cards {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  margin-top: 1.5625rem;
}
main > .left #main-section #Budget-Overview .cards .card {
  padding: 0.9375rem;
  border-radius: 0.625rem;
  background-color: #fcfcfd;
  border: 0.0625rem solid #dedeeb;
}
main > .left #main-section #Budget-Overview .cards .card:hover {
  box-shadow: 0rem 0rem 0.3125rem 0rem rgba(0, 0, 0, 0.17);
  transform: scale(1.01) translateY(-0.0625rem);
  background-color: #f5f6f8;
}
main > .left #main-section #Budget-Overview .cards .card .direction {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main > .left #main-section #Budget-Overview .cards .card .direction .right {
  display: flex;
  gap: 0.625rem;
  align-items: center;
}
main > .left #main-section #Budget-Overview .cards .card .direction .right .icon {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
main > .left #main-section #Budget-Overview .cards .card .direction .right .detalis p {
  font-size: 1rem;
  font-weight: 500;
  color: #101828;
}
main > .left #main-section #Budget-Overview .cards .card .direction .right .detalis span {
  font-size: 0.75rem;
  font-weight: 600;
  color: #6a7282;
}
main > .left #main-section #Budget-Overview .cards .card .direction .left p,
main > .left #main-section #Budget-Overview .cards .card .direction .left span {
  font-weight: 600;
}
main > .left #main-section #Budget-Overview .cards .card .direction .left p {
  font-size: 1rem;
  color: #101828;
  margin-bottom: 0.1875rem;
}
main > .left #main-section #Budget-Overview .cards .card .direction .left span {
  font-size: 0.75rem;
  color: #166534;
  background-color: #dcfce7;
  padding: 0.0625rem 0.5rem;
  border-radius: 624.9375rem;
}
main > .left #main-section #Budget-Overview .cards .card > div:last-child {
  background-color: #e5e7eb;
  height: 0.5625rem;
  margin-top: 0.625rem;
  border-radius: 62.4375rem;
  position: relative;
}
main > .left #main-section #Budget-Overview .cards .card > div:last-child::after {
  content: "";
  position: absolute;
  inset: 0 0 0 auto;
  border-radius: 62.4375rem;
}
main > .left #main-section #Budget-Overview .cards .card:first-child .direction .right .icon {
  background-color: #ffedd4;
  color: #f54c04;
}
main > .left #main-section #Budget-Overview .cards .card:first-child > div:last-child::after {
  background-color: #ff6900;
  width: 50%;
}
main > .left #main-section #Budget-Overview .cards .card:nth-child(2) .direction .right .icon {
  background-color: #fee2e2;
  color: #ea1b25;
}
main > .left #main-section #Budget-Overview .cards .card:nth-child(2) .direction .left span {
  background-color: #fee2e2;
  color: #991b1b;
}
main > .left #main-section #Budget-Overview .cards .card:nth-child(2) > div:last-child::after {
  background-color: #fb2c36;
  width: 100%;
}
main > .left #main-section #Budget-Overview .cards .card:nth-child(3) .direction .right .icon {
  background-color: #fce7f3;
  color: #e60076;
}
main > .left #main-section #Budget-Overview .cards .card:nth-child(3) .direction .left span {
  background-color: #fef3c7;
  color: #92400e;
}
main > .left #main-section #Budget-Overview .cards .card:nth-child(3) > div:last-child::after {
  background-color: #e60076;
  width: 80%;
}
main > .left #main-section #Budget-Overview .cards .card:last-child .direction .right .icon {
  background-color: #dcfce7;
  color: #00a63e;
}
main > .left #main-section #Budget-Overview .cards .card:last-child .direction .left span {
  background-color: #dcfce7;
  color: #166534;
}
main > .left #main-section #Budget-Overview .cards .card:last-child > div:last-child::after {
  background-color: #00c950;
  width: 86%;
}
main > .left #main-section #Income {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
  grid-area: Income;
  display: flex;
  flex-direction: column;
}
main > .left #main-section #Income .center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin-bottom: 3.125rem;
}
main > .left #main-section #Income .center > div {
  display: flex;
  gap: 0.625rem;
}
main > .left #main-section #Income .center > div span {
  font-size: 0.75rem;
  font-weight: 600;
  color: #64748b;
}
main > .left #main-section #Income .center > div div {
  width: 0.8125rem;
  height: 0.8125rem;
  border-radius: 0.1875rem;
}
main > .left #main-section #Income .center .content-1 div {
  background-color: #10b981;
}
main > .left #main-section #Income .center .content-2 div {
  background-color: #ef4444;
}
main > .left #main-section #Income .weeks {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-grow: 1;
}
main > .left #main-section #Income .weeks .week {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3125rem;
}
main > .left #main-section #Income .weeks .week .top {
  display: flex;
  align-items: flex-end;
  gap: 0.125rem;
}
main > .left #main-section #Income .weeks .week .top div {
  width: 1.125rem;
  border-radius: 0.1875rem 0.1875rem 0 0;
  transition: 0.5s;
}
main > .left #main-section #Income .weeks .week .top div:hover {
  opacity: 0.8;
}
main > .left #main-section #Income .weeks .week .top .green-rang {
  height: 6.25rem;
  background-color: #10b981;
}
main > .left #main-section #Income .weeks .week .top .red-rang {
  height: 2.5rem;
  background-color: #ef4444;
}
main > .left #main-section #Income .weeks .week span {
  font-size: 0.75rem;
  font-weight: 600;
  color: #64748b;
}
main > .left #main-section #Account-Summary {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
  grid-area: Account-Summary;
}
main > .left #main-section #Account-Summary .cards {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
}
main > .left #main-section #Account-Summary .cards .card {
  background-color: #f9fafb;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.9375rem;
  border-radius: 0.625rem;
}
main > .left #main-section #Account-Summary .cards .card .right {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
main > .left #main-section #Account-Summary .cards .card .right .icon {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
main > .left #main-section #Account-Summary .cards .card .right .content p {
  font-size: 1rem;
  font-weight: 500;
  color: #101828;
  line-height: 1.5rem;
}
main > .left #main-section #Account-Summary .cards .card .right .content span {
  font-size: 0.75rem;
  font-weight: 600;
  color: #6a7282;
}
main > .left #main-section #Account-Summary .cards .card .left h6 {
  font-size: 1rem;
  font-weight: 600;
  color: #101828;
}
main > .left #main-section #Account-Summary .cards .card:first-child .right .icon {
  background-color: #dbeafe;
  color: #155dfc;
}
main > .left #main-section #Account-Summary .cards .card:nth-child(2) .right .icon {
  background-color: #dbfce7;
  color: #00a63e;
}
main > .left #main-section #Account-Summary .cards .card:last-child .right .icon {
  background-color: #f3e8ff;
  color: #9810fa;
}
main > .left #main-section #Account-Summary .cards .card:last-child .left h6 {
  color: #e7000b;
}
main > .left #main-section #Payment-Methods {
  -ms-grid-row: 9;
  -ms-grid-row-span: 3;
  -ms-grid-column: 5;
  grid-area: Payment-Methods;
  display: flex;
  flex-direction: column;
}
main > .left #main-section #Payment-Methods .cards {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
  perspective: 125rem;
}
main > .left #main-section #Payment-Methods .cards .card {
  position: relative;
  transform-style: preserve-3d;
  height: 33.3333333333%;
  transition: 0.5s;
}
main > .left #main-section #Payment-Methods .cards .card:hover {
  transform: rotateY(180deg);
}
main > .left #main-section #Payment-Methods .cards .card > span {
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
  backdrop-filter: blur(0.625rem);
  z-index: 99;
  font-size: 0.8125rem;
  font-weight: 600;
  padding: 0.3125rem 0.625rem;
  border-radius: 624.9375rem;
  backface-visibility: hidden;
  color: white;
}
main > .left #main-section #Payment-Methods .cards .card > div {
  backface-visibility: hidden;
  position: absolute;
  padding: 0.8125rem 1.25rem;
  inset: 0rem;
  border-radius: 0.625rem;
}
main > .left #main-section #Payment-Methods .cards .card .front {
  z-index: 2;
  padding-top: 1.5625rem;
}
main > .left #main-section #Payment-Methods .cards .card .front .top {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  margin-bottom: 1.875rem;
}
main > .left #main-section #Payment-Methods .cards .card .front .top i {
  font-size: 1.875rem;
  color: white;
}
main > .left #main-section #Payment-Methods .cards .card .front .top .shape-1 {
  width: 3rem;
  height: 2rem;
  background-color: rgba(255, 255, 255, 0.141);
  border-radius: 0.3125rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
main > .left #main-section #Payment-Methods .cards .card .front .top .shape-1 .shape-2 {
  width: 1.5rem;
  height: 1rem;
  background-color: rgba(255, 255, 255, 0.321);
  border-radius: 0.3125rem;
}
main > .left #main-section #Payment-Methods .cards .card .front > span {
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  word-spacing: 0.625rem;
}
main > .left #main-section #Payment-Methods .cards .card .front .bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0.9375rem;
}
main > .left #main-section #Payment-Methods .cards .card .front .bottom div span {
  display: block;
  color: #dbeafe;
  font-weight: 600;
}
main > .left #main-section #Payment-Methods .cards .card .front .bottom div span:first-child {
  font-size: 0.75rem;
}
main > .left #main-section #Payment-Methods .cards .card .front .bottom div span:last-child {
  font-size: 0.875rem;
  font-weight: 700;
}
main > .left #main-section #Payment-Methods .cards .card .back {
  transform: rotateY(180deg);
  z-index: 1;
  background: linear-gradient(120deg, #051026, #0b1220 45%, #0f1724);
}
main > .left #main-section #Payment-Methods .cards .card .back .grade {
  height: 1.75rem;
  border-radius: 0.3125rem;
  background: linear-gradient(90deg, #000, #111 40%, #2b2b2b);
}
main > .left #main-section #Payment-Methods .cards .card .back > span:nth-child(2) {
  color: rgba(255, 255, 255, 0.4784313725);
  letter-spacing: 0.0375rem;
  margin-top: 0.5rem;
  font-size: 0.625rem;
}
main > .left #main-section #Payment-Methods .cards .card .back .number {
  background-color: #eef2f6;
  border-radius: 0.25rem;
  margin-top: 0.625rem;
  padding: 0.3125rem 0.5rem;
  display: flex;
  align-items: center;
}
main > .left #main-section #Payment-Methods .cards .card .back .number div {
  flex-grow: 1;
  height: 0.625rem;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.0588235294), rgba(0, 0, 0, 0.1803921569), rgba(0, 0, 0, 0.0588235294));
}
main > .left #main-section #Payment-Methods .cards .card .back .number span {
  color: #111827;
  font-weight: 700;
}
main > .left #main-section #Payment-Methods .cards .card .back .bottom {
  text-align: end;
  margin-top: 0.5625rem;
}
main > .left #main-section #Payment-Methods .cards .card .back .bottom span {
  color: #d1d5db;
  font-size: 0.75rem;
  width: 3.4375rem;
  text-align: start;
}
main > .left #main-section #Payment-Methods .cards .card .back .bottom .password {
  height: 2.5rem;
  width: 3.4375rem;
  border-radius: 0.3125rem;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.125rem;
  align-content: center;
  text-align: center;
  background-color: white;
  margin-right: auto;
}
main > .left #main-section #Payment-Methods .cards .card:first-child .front {
  background-color: #372aac;
}
main > .left #main-section #Payment-Methods .cards .card:nth-child(2) .front {
  background-color: #c70036;
}
main > .left #main-section #Payment-Methods .cards .card:last-child .front {
  background-color: #193cb8;
}
main > .right {
  width: 15rem;
  height: 100vh;
  overflow-y: auto;
  position: sticky;
  z-index: 999999;
  top: 0;
  background-color: var(--color-white);
  padding: 1.4375rem 0.9375rem;
}
main > .right .pages {
  display: flex;
  flex-direction: column;
  gap: 0.9375rem;
  margin-block: 2.0625rem 1.5625rem;
}
main > .right .pages p {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: center;
  gap: 0.8125rem;
  padding: 0.875rem;
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.5rem;
  border-radius: 0.625rem;
  color: var(--color-gray-600);
  cursor: pointer;
}
main > .right .pages p:first-child {
  background-color: var(--color-blue-50);
  color: var(--color-blue-700);
  border: 0.0625rem solid var(--color-blue-100);
}
main > .right .pages p:hover:not(:first-child) {
  background-color: var(--color-gray-50);
}
main > .right .bottom > span {
  font-size: 0.875rem;
  font-weight: 600;
  color: var(--color-gray-700);
}
main > .right .bottom .bottom-contents {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-top: 1.375rem;
}
main > .right .bottom .bottom-contents .bottom-content:first-child .bottom-icon {
  background-color: var(--color-blue-50);
  color: var(--color-blue-700);
}
main > .right .bottom .bottom-contents .bottom-content:first-child:hover .bottom-icon {
  background-color: var(--color-blue-100);
}
main > .right .bottom .bottom-contents .bottom-content:nth-child(2) .bottom-icon {
  background-color: var(--color-green-50);
  color: var(--color-green-700);
}
main > .right .bottom .bottom-contents .bottom-content:nth-child(2):hover .bottom-icon {
  background-color: var(--color-green-100);
}
main > .right .bottom .bottom-contents .bottom-content:nth-child(3) .bottom-icon {
  background-color: var(--color-purple-50);
  color: var(--color-purple-700);
}
main > .right .bottom .bottom-contents .bottom-content:nth-child(3):hover .bottom-icon {
  background-color: var(--color-purple-100);
}
main > .right .bottom .bottom-contents .bottom-content:last-child .bottom-icon {
  background-color: var(--color-orange-50);
  color: var(--color-orange-700);
}
main > .right .bottom .bottom-contents .bottom-content:last-child:hover .bottom-icon {
  background-color: var(--color-orange-100);
}
main > .right .bottom .bottom-contents .bottom-content {
  display: flex;
  align-items: center;
  gap: 0.8125rem;
  cursor: pointer;
  padding: 0.625rem;
  border-radius: 0.625rem;
}
main > .right .bottom .bottom-contents .bottom-content:hover {
  transform: translateX(0.125rem);
  background-color: var(--color-gray-100);
}
main > .right .bottom .bottom-contents .bottom-content .bottom-icon {
  height: 2.5rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
}
main > .right .bottom .bottom-contents .bottom-content span {
  font-size: 0.875rem;
  color: var(--color-gray-900);
  font-weight: 500;
}

/* End Main *//*# sourceMappingURL=index.css.map */