@media (max-width: 80rem) {
  main > .right {
    width: -moz-fit-content;
    width: fit-content;
    padding: 1.4375rem 0rem;
    text-align: center;
    overflow-y: hidden;
  }
  main > .right::-webkit-scrollbar {
    display: none;
  }
  main > .right .name-global .top-content {
    display: none;
  }
  main > .right .name-global .top-icon {
    height: 2.5rem;
    width: 2.5rem;
    margin-inline: auto;
  }
  main > .right .pages p {
    margin-inline: auto;
    padding: 0.625rem;
    width: -moz-fit-content;
    width: fit-content;
  }
  main > .right .pages p span {
    display: none;
  }
  main > .right .bottom > span {
    display: none;
  }
  main > .right .bottom .bottom-contents .bottom-content:hover {
    transform: translateX(0rem);
    background-color: unset;
  }
  main > .right .bottom .bottom-contents .bottom-content:hover .bottom-icon {
    box-shadow: 0rem 0rem 0.3125rem rgba(0, 0, 0, 0.078);
  }
  main > .right .bottom .bottom-contents .bottom-content span {
    display: none;
  }
  main > .left #main-section {
    grid-template-columns: repeat(2, calc((100% - 1.25rem) / 2));
    grid-template-areas: "header header" "cards cards" "active Income" "table-content table-content" "pill Account-Summary" "Budget-Overview  Payment-Methods";
  }
}
@media (max-width: 64rem) {
  main > .left #main-section #cards .card h2 {
    font-size: 1.5rem;
    font-weight: 600;
  }
}
@media (max-width: 48rem) {
  main > .right {
    display: none;
  }
  main > .left #main-section {
    grid-template-columns: 100%;
    grid-template-areas: "header" "cards" "active" "table-content" "pill" "Account-Summary" "Budget-Overview" "Income" "Payment-Methods";
  }
  main > .left #main-section #cards {
    flex-direction: column;
    align-items: stretch;
  }
  main > .left #main-section #cards .card {
    width: 100%;
  }
  main > .left #main-section #table-content {
    overflow-y: auto;
  }
  main > .left #main-section #table-content table {
    width: 40.125rem;
  }
  main > .left #main-section #Payment-Methods {
    height: 50rem;
  }
  main > .left #main-section #Payment-Methods .cards .card .front,
  main > .left #main-section #Payment-Methods .cards .card .back {
    padding: 1.875rem;
  }
}
@media (max-width: 40rem) {
  main > .left #main-section #header {
    flex-direction: column;
    align-items: stretch;
  }
  main > .left #main-section #header .name-global > span {
    display: none;
  }
  main > .left #main-section #header .name-global .top-icon {
    height: 3.125rem;
    width: 3.125rem;
    font-size: 1.125rem;
  }
  main > .left #main-section #header .name-global .top-content h1 {
    font-size: 1.5rem;
    line-height: 1.5625rem;
  }
  main > .left #main-section #header .name-global .top-content span {
    font-size: 0.75rem;
  }
  main > .left #main-section #header .left {
    justify-content: space-between;
    margin-block: 0.9375rem 0.75rem;
  }
  main > .left #main-section #header .left .icons .icon {
    font-size: 0.75rem;
    height: 1.875rem;
    width: 1.875rem;
    background-color: white;
  }
  main > .left #main-section #header .left .icons .icon span {
    font-size: 0.5625rem;
    height: 0.75rem;
    width: 0.75rem;
  }
  main > .left #main-section #header .left .card-header {
    padding: 0.5rem 0.625rem;
  }
  main > .left #main-section #header .left .card-header p {
    display: none;
  }
  main > .left #main-section #header .left .card-header .img {
    width: 2.1875rem;
  }
  main > .left #main-section #header > span {
    display: block;
  }
  main > .left #main-section #cards .card h2 {
    font-size: 1.875rem;
  }
}
@media (max-width: 25rem) {
  main > .left #main-section #header > span::after {
    inset: 50% 41% auto auto;
  }
}/*# sourceMappingURL=indexMid.css.map */