@media (max-width: 80rem) {
  main {
    & > .right {
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      padding: 1.4375rem 0rem;
      text-align: center;
      overflow-y: hidden;
      &::-webkit-scrollbar {
        display: none;
      }

      .name-global {
        .top-content {
          display: none;
        }

        .top-icon {
          height: 2.5rem;
          width: 2.5rem;
          margin-inline: auto;
        }
      }

      .pages {
        p {
          margin-inline: auto;
          padding: 0.625rem;
          width: -webkit-fit-content;
          width: -moz-fit-content;
          width: fit-content;
          span {
            display: none;
          }
        }
      }

      .bottom {
        & > span {
          display: none;
        }

        .bottom-contents {
          .bottom-content {
            &:hover {
              -webkit-transform: translateX(0rem);
              -ms-transform: translateX(0rem);
              transform: translateX(0rem);
              background-color: unset;
            }

            &:hover .bottom-icon {
              -webkit-box-shadow: 0rem 0rem 0.3125rem rgba(0, 0, 0, 0.078);
              box-shadow: 0rem 0rem 0.3125rem rgba(0, 0, 0, 0.078);
            }
            span {
              display: none;
            }
          }
        }
      }
    }

    & > .left {
      #main-section {
        -ms-grid-columns: (calc(calc(100% - 1.25rem) / 2));
        grid-template-columns: repeat(2, calc(calc(100% - 1.25rem) / 2));
        grid-template-areas:
          "header header"
          "cards cards"
          "active Income"
          "table-content table-content"
          "pill Account-Summary"
          "Budget-Overview  Payment-Methods";
      }
    }
  }
}

@media (max-width: 64rem) {
  main {
    & > .left {
      #main-section {
        #cards {
          .card {
            h2 {
              font-size: 1.5rem;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 48rem) {
  main {
    & > .right {
      display: none;
    }

    & > .left {
      #main-section {
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        grid-template-areas:
          "header"
          "cards"
          "active"
          "table-content"
          "pill"
          "Account-Summary"
          "Budget-Overview"
          "Income"
          "Payment-Methods";

        #cards {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: stretch;
          -ms-flex-align: stretch;
          align-items: stretch;

          .card {
            width: 100%;
          }
        }

        #table-content {
          overflow-y: auto;

          table {
            width: 40.125rem;
          }
        }

        #Payment-Methods {
          height: 50rem;

          .cards {
            .card {
              .front,
              .back {
                padding: 1.875rem;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 40rem) {
  main {
    & > .left {
      #main-section {
        #header {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: stretch;
          -ms-flex-align: stretch;
          align-items: stretch;

          .name-global {
            & > span {
              display: none;
            }

            .top-icon {
              height: 3.125rem;
              width: 3.125rem;
              font-size: 1.125rem;
            }

            .top-content {
              h1 {
                font-size: 1.5rem;
                line-height: 1.5625rem;
              }

              span {
                font-size: 0.75rem;
              }
            }
          }

          .left {
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            margin-block: 0.9375rem 0.75rem;

            .icons {
              .icon {
                font-size: 0.75rem;
                height: 1.875rem;
                width: 1.875rem;
                background-color: white;

                span {
                  font-size: 0.5625rem;
                  height: 0.75rem;
                  width: 0.75rem;
                }
              }
            }

            .card-header {
              padding: 0.5rem 0.625rem;

              p {
                display: none;
              }

              .img {
                width: 2.1875rem;
              }
            }
          }

          & > span {
            display: block;
          }
        }

        #cards {
          .card {
            h2 {
              font-size: 1.875rem;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 25rem) {
  main {
    & > .left {
      #main-section {
        #header {
          & > span {
            &::after {
              inset: 50% 41% auto auto;
            }
          }
        }
      }
    }
  }
}
